@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --button-primary-color: #8f0101;
  --button-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;

  --form-line-color: #d9d9d9;

  --transition: 240ms cubic-bezier(0.2, 0.8, 0.2, 1);
}

/*  FONT
@font-face {
    font-family: Montserrat;
    src: url('urlocal');
    font-style: normal;
    font-display: swap;
} */

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--text-weight);
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 2rem;
  font-weight: var(--title-weight);
  text-align: center;
  margin-top: 5.5rem;
}
.section-title hr {
  width: 180px;
  height: 4px;
  background: var(--button-secondary-color);
  border: none;
  margin: 1rem auto 2rem;
}
.button {
  color: var(--text-secondary-color);
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  background: var(--button-primary-color);
  padding: 1rem 0;
  line-height: 2rem;
  display: block;
  border-radius: 1rem;
  font-weight: var(--title-weight);
  transition: var(--transition);
}
.button:hover {
  background: var(--button-secondary-color);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.grid {
  display: grid;
  gap: 1rem;
}

h3 {
    font-weight: var(--title-weight);
    font-size: 1.75rem;
}
