.hero img {
    width: 100%;
    object-fit: cover;
    max-height: 620px;
}
.hero p {
    font-size: 1.25rem;
    margin: 5.5rem auto 0;
    text-align: center;
    line-height: 1.5;
    width: 80%;
    max-width: 1200px;
}

@media screen and (min-width: 768px) {
    .hero p {
        font-size: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .hero img {
        height: 620px;
    }
}
